[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyaudio = "*"
pydub = "*"
pydejavu = {file = "https://github.com/worldveil/dejavu/archive/master.zip"}
lirc = "*"
python-environ = "*"
eel = "*"
